<ng-container *ngIf="!suffixes">
  <mat-card>
      <mat-chip>No data available</mat-chip>
  </mat-card>
</ng-container>

<ng-container *ngIf="suffixes">
  <mat-card>
  <table class="striped centered highlight">
    <thead>
      <tr>
          <th>Id</th>
          <th>Suffixes</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let suffixe of suffixes">
        <td>{{suffixe.id}}</td>
        <td>{{suffixe.suffixName}}</td>
      </tr>
    </tbody>
  </table>
</mat-card>
</ng-container>
